@tailwind base;
@tailwind components;
@tailwind utilities;





.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.575);
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #db232393;
}


.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(85, 3, 3, 0.575) rgba(201, 113, 113, 0.575);
}